<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


<!-- Content for the Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1> Add a new Survey</h1>

        <form class="form" method="POST">
            <div class="form-group">
                <label for="nameTextField">Survey Name</label>
                <input type="text" class="form-control"
                id="nameTextField"
                placeholder="Enter the surveys"
                name="name" required>
            </div>

            <div class="form-group">
                <label for="authorTextField">author</label>
                <input type="text" class="form-control"
                id="authorTextField"
                placeholder="Enter the your name"
                name="author" required>
            </div>

            <div class="form-group">
                <label for="publishedTextField">Email</label>
                <input type="email" class="form-control"
                id="publishedTextField"
                placeholder="Enter the contact's email address"
                name="email" required>
            </div>

         
         
            
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i> Submit</button>

                <a href="/survey" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

        </form>
    </div>
    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>


<%- include ../partials/footer.ejs %>